<!-- Flight Notes -->
<table width="100%" cellpadding="0" cellspacing="0" style="margin: 20px 0; background-color: #FFEFE6; {{#ifRTL}}border-right: 4px solid #FF6200;{{else}}border-left: 4px solid #FF6200;{{/ifRTL}}">
    <tr>
        <td style="padding: 16px 20px;">
            <p style="color: #1A1A1A; font-size: 13px; font-weight: 700; margin: 0 0 10px;">{{t "common.flightNotesTitle"}}</p>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding: 3px 0;">
                        <span style="color: #666666; font-size: 12px; line-height: 1.5;">&#9993; {{t "common.flightNote1"}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px 0;">
                        <span style="color: #666666; font-size: 12px; line-height: 1.5;">&#9993; {{t "common.flightNote2"}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px 0;">
                        <span style="color: #666666; font-size: 12px; line-height: 1.5;">&#9993; {{t "common.flightNote3"}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px 0;">
                        <span style="color: #666666; font-size: 12px; line-height: 1.5;">&#9993; {{t "common.flightNote4"}}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
